{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>KLABBER | User Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="{% static 'user-login/images/k.png' %}" rel="icon">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'user-login/css/style.css' %}">

	</head>
	<body class="img js-fullheight" style="background-image: url({% static 'user-login/images/u3.png' %});">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">User Login Here !</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Have an Klabber account?</h3>
		      	<form action="/userl" method="POST" class="signin-form">
					{% csrf_token %}
		      		<div class="form-group">
		      			<input type="text" class="form-control form-control-success" id="inputSuccess1" name="Username" placeholder="Username" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" name="passwrd" placeholder="Password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	
	            	<button type="submit"  class="form-control btn btn-primary submit px-3">
						Sign In
						
					    	
						
						
					</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#" style="color: #fff">Forgot Password</a>
								</div>
	            </div>
	          </form>
			  <h5 style="color: red;">{{msg}}</h5>
			  <p class="w-100 text-center">&mdash; Move to &mdash;</p>
			 
	          <div class="social d-flex text-center">
	          	<a href="{% url 'home' %}"class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Home</a>
	          	<a href="/users" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2">Sign Up</span></a>
	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'user-login/js/jquery.min.js' %}"></script>
  <script src="{% static 'user-login/js/popper.js' %}"></script>
  <script src="{% static 'user-login/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'user-login/js/main.js' %}"></script>



	</body>
</html>

